.container {
  width: 1220px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.row {
  display: flex;
  gap: 80px;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}